.post-background{
-fx-background-color: #fff;
-fx-background-radius: 15;
-fx-effect: dropShadow (three-pass-box, rgba(8,8,8,8.1), 5.8, 9.8, 8.8, 5.0);
}
.text_field{
-fx-background-color: #F0F2F5;
-fx-background-radius: 50;
}
.scroll-pane > .viewport{
-fx-background-color: transparent;
}
.reactions-container{
-fx-background-color: #fff;
-fx-background-radius: 50;
-fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 5.0, 0.0, 0.0, 5.0);
-fx-border-width: 1;
-fx border-color: #88B9BB;
-fx border-radius:50;
}
.top-border{
 -fx-order-width: 1;
 -fx-border-color: #606266;
 }
 .sidebar{
 -fx-background-color:#30ACF3;
 }
 .top{
 -fx-background-color:#E4E2E4;
 }

 .close-btn{
 -fx-background-color:#FC5653;
 -fx-background-radius: 100%;
 }
  .close-btn:hover{
  -fx-background-color:red;
  -fx-background-radius: 100%;
  }

  .min-btn{
   -fx-background-color:#29CC41;
   -fx-background-radius: 100%;
   }
    .min-btn:hover{
    -fx-background-color:Green;
    -fx-background-radius: 100%;
    }

    .max-btn{
     -fx-background-color:#FDBC40;
     -fx-background-radius: 100%;
     }
      .max-btn:hover{
      -fx-background-color:Yellow;
      -fx-background-radius: 100%;
      }
      .online-dot{
      -fx-background-color:#6BE005;
      -fx-background-radius: 100%;
      }
      .contact-list{
      -fx-background-color:transparent;
      }
      .contact-list:hover{
      -fx-background-color:0093E9;
      }
      .profile{
      -fx-background-color:transparent;
      -fx-border-color: #E4E2E4;
      -fx-border-width: 1px 0px 0px 0px;
      -fx-border-style: solid;
      }
      .profile-2{
      -fx-background-color:transparent;
      -fx-border-color: #E4E2E4;
      -fx-border-width: 0px 0px 1px 0px;
      -fx-border-style: solid;
      }
      .message-box{
      -fx-background-color:E4E2E4;
      -fx-background-radius: 10px;
      }
      .board{
      -fx-background-color:transparent;
      -fx-border-color: #E4E2E4;
      -fx-border-width: 1px 0px 0px 0px;
      -fx-border-style: solid;
      }